<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>  
</head>
<body>
<% if(@records) %>
<% @records.each do |res| %>
	<%= res %><br/>
<% end %>
<% end %> 
<a href="/confirm">Delete these directories</a>
</body>
</html>
