<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
                    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>  
</head>
<body>
<h1>Delete records</h1>
<% if(@delete_records) %>
	<% @delete_records.each do |res| %>
		<%= res %><br/>
	<% end %>
<% end %> 
<h1>Problem records</h1>
<% if(@problem_records) %>
	<% @problem_records.each do |res| %>
		<%= res %><br/>
	<% end %>
<% end %> 
<a href="/folder/confirm">Delete these directories</a>
</body>
</html>
